extends layout

block content
  
  div(class='col-sm-10 jb-content')
    h1= title

    h3 Author: #{author.name}
    p #{author.lifespan}

    div(style='margin-left:20px;margin-top:20px')

        h4 Books
        
        dl
        each book in author_books
            dt 
            a(href=book.url) #{book.title}
            dd #{book.summary}

        else
            p This author has no books.